h1{
    background-color: aquamarine;
}
body{
    background-image: url('https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg');
    background-position:center;   
}
div {

    background-color: #f7d6d6;
  
  }

